:root {
  --primary-color: #646cff;
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  font-family: serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
